{% extends "dashboard.php" %}

{% block content %}

<main id="main-content" class="grad2">
    <h1 class="bold center">RECENT POSTS</h1>
    <div class="num-posts center">
        {% for post in user_posts %}
            <div class="single-post" data-date="{{ post.post_date }}">
                <div class="post-bg" style="background: url('/magnify/web{{ post.image_path }}'); background-size: cover; background-position: center;">

                </div>
                <h4 class="white">{{ post.title }}</h4>
                <div class="av">
                    <div class="post-avatar" style="background:url('/magnify/web{{ post.avatar_path }}') center;background-size:cover;"></div>
                </div>
                <div class="view">
                    <form id="view-post" action="/magnify/web/view" method="post">
                        <input type="hidden" name="postid" id="postid" value="{{ post.id }}">
                        <input type="submit" id="view-btn" value="VIEW POST">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="user-list">
        <h3 class="center bold">SEARCH | BAN | ADMIN</h3>
        <form id="search-user" method="post" action="{{ webroot }}/search/user">
            <input type="text" id="search-txt6" placeholder="SEARCH FOR USERS">
            <input type="submit" id="search-btn6" value="SEARCH">
        </form>
        <span id="error6" class="danger center"></span>
        <ul class="user-c">
            {% for user in users %}
            <li class="user-li"><span class="ban-list-name">{{ user.name }} {{ user.surname }}</span>
                <span class="ban">
                   <form id="banning" action="{{ webroot }}/ban" method="post">
                        <input type="hidden" name="ban-id" id="ban-id" value="{{ user.id }}">
                        <input type="hidden" name="ban-val" id="ban-val" value="{{ user.ban }}">
                        <input type="submit" class="ban-btn" id="ban" value="{% if user.ban == 0 %}&times;  BAN{% else %}&times;  UNBAN{% endif %}">
                   </form>
                </span>
                <span class="make-admin">
                    <form id="admin-auth" action="{{ webroot }}/auth" method="post">
                        <input type="hidden" name="admin-id" id="admin-id" value="{{ user.id }}">
                        <input type="hidden" name="admin-val" id="admin-val" value="{{ user.admin }}">
                        <input type="submit" id="mkAdmin" value="{% if user.admin == 0 %}MAKE ADMIN{% elseif user.admin == 1 %}&times;  REMOVE ADMIN{% endif %}">
                    </form>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>


    <script type="text/javascript">
        $('#search-btn6').click(function (e) {
            e.preventDefault();
            if (!$('#search-txt6').val()) {
                $('#error6').html("Please enter a user name");
            } else {
                $('#error6').html("");
                $.ajax({
                    url: '{{ webroot }}/search/user',
                    method: 'POST',
                    data: {search: $('#search-txt6').val()}
                }).done(function (html) {
                    $('.user-c').html(html);
                }).fail(function () {
                    $('#error6').html(
                            "<h2>Looks like something went wrong. Please try again</h2>"
                    );
                });
            }
        });

    </script>

</main>

{% endblock %}