{% extends "layout.php" %}

{% block content %}

    <main id="post-page">
        <div id="post-image">
            <a href="/magnify/web" ><img src="/magnify/web/images/logos/LogoWhite-01.png" class="post-logo"></a>
            <div id="image" style="background-image: url('/magnify/web{{ post.image_path }}'); background-size:cover; background-position:center;"></div>
            <div id="title"><h1>{{ post.title }}</h1></div>
        </div>
        <div id="post">
            <div id="content">
                {{ post.content }}
            </div>
            <div id="author"><h1>written by: {{ post.name }} {{ post.surname }} | {{ post.post_date }}</h1></div>
            <div id="return"><a href="/magnify/web/dashboard"><h4><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> return back to posts page.</h4></a></div>
             <div id=""><button id="comments">VIEW COMMENTS</button><span class="fa fa-arrow-down comment-arrow" aria-hidden="true"></span></div>
        </div>
        
       
    </main>
    <script>
        $(function () {
            $('#content').text().replace(/['"]+/g, '');
        });

    </script>
{% endblock %}

