{% extends "layout.php" %}

{% block content %}
    {% block title %}<title>{{ post.title }}</title>{% endblock %}
    <main id="post-page">
        <div id="entire-post">
            <div id="post-image">
                <a href="{{ webroot }}" ><img src="{{ webroot }}Images/logos/LogoWhite-01.png" class="post-logo"></a>
                <div id="image" style="background-image: url('{{ webroot }}{{ post.image_path }}'); background-size:cover; background-position:center;"></div>
                <div id="title"><h1>{{ post.title }}</h1></div>
            </div>
            <div id="post">
                <div id="content">
                    {{ post.content|raw }}
                </div>
                <div id="author"><h1>written by: {{ post.name }} {{ post.surname }} | {{ post.post_date }}</h1></div>
                <div id="return"><a href="{{ webroot }}recent-posts"><h4><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> return back to posts page.</h4></a></div>
                <div id="like-dislike">


                    <form id="dislike-form" action="{{ webroot }}dislike" method="post">
                        <input type="hidden" name="post-id" id="post-id" value="{{ post.id }}">
                        <input type="hidden" name="post-dislike" id="post-dislike" value="0">

                        <h4 class="likes a-dislike">{{ dislikes | length }}</h4>
                    </form>
                    <button type="submit" class="dislike" id="post-like8" form="dislike-form"><span class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></span></button>


                    <form id="like-form" action="{{ webroot }}like" method="post">
                        <input type="hidden" name="post-id" id="post-id" value="{{ post.id }}">
                        <input type="hidden" name="post-like" id="post-like" value="1">
                        <h4 class="likes a-like">{{ likes | length }}</h4>
                    </form>
                    <button type="submit" class="like" id="post-like9"form="like-form" ><span class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span></button>
                </div>





            </div>
            <div id="comment-btn"><button id="comments">VIEW COMMENTS</button><span class="fa fa-arrow-down comment-arrow" aria-hidden="true"></span></div>
        </div>


        <div id="comment-section">
            <h1 id="comment-header">Comments</h1>
            {% for comment in comments %}
            <div id="comment-wrapper">
                <h4 class="comment-text">{{ comment.comment }}</h4>
                <h4 class="comment-user-name">{{ comment.name }} {{ comment.surname }}</h4>
            </div>
            {% endfor %}
            <div>
                <form style="margin-top: 35px" method="post" action="{{ webroot }}comment">
                    <textarea placeholder="Comment here..." class="comment-text-field" wrap="hard" name="comment-text" id="comment-text"></textarea>
                    <input type="hidden" id="user-id" value="{{ id }}" name="user-id">
                    <input type="hidden" id="post-id" value="{{ post.id }}" name="post-id">
                    <input type="submit" class="submit-comment-btn" style="margin-top: 10px; padding-top: -10px;">
                    <span class="danger"></span>
                </form>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            $('.like').click(function(e){
                if($(this).hasClass('like-checked')){
                    $(this).removeClass('like-checked');
                }else{
                    $(this).addClass('like-checked');
                }
                $('.dislike').removeClass('dislike-checked');
                e.preventDefault();

                $.ajax({
                    method:"POST",
                    url:"{{ webroot }}like",
                    data: {like: $('#post-like').val(), postId: $('#post-id').val()}
                    }).done(function (data) {
                        $('#like-form').html(data);
                    }).fail(function () {
                        $('#results').html(
                            "<h2>Looks like something went wrong</h2>"
                    );
                });
            });
            $('.dislike').click(function(e){
                if($(this).hasClass('dislike-checked')){
                    $(this).removeClass('dislike-checked');
                }else {
                    $(this).addClass('dislike-checked');
                }
                $('.like').removeClass('like-checked');
                e.preventDefault();
                $.ajax({
                    method:"POST",
                    url:"{{ webroot }}dislike",
                    data: {dislike: $('#post-dislike').val(), postId: $('#post-id').val()}
                }).done(function (data) {
                    $('#dislike-form').html(data);
                }).fail(function () {
                    $('#results').html(
                            "<h2>Looks like something went wrong</h2>"
                    );
                });
            });

            $('#comment-text').change(function () {
                if ($(this).val().length < 10) {
                    $('#submit-comment-btn').prop('disabled', true);
                    $('error-txt').html('Comment needs to be at least 10 characters');
                } else {
                    $('#submit-comment-btn').prop('disabled', false);
                    $('error-txt').html('');
                }
            });
        });
    </script>
{% endblock %}

