{% extends 'layout.php' %}

{%  block content %}

    <main id="main-content" class="post-main recent-main">
        <div id="content-box">
            <form id="search" method="post" action="{{ webroot }}search">
                <input type="text" id="search-txt" placeholder="SEARCH FOR POSTS">
                <input type="submit" id="search-btn" value="SEARCH">
            </form>
            <div id="sort" class="sort-btn">
                <p>SORT BY <span class="fa fa-arrow-down"></span></p>
                <ul id="sort-type">
                    <span class="triangle-sort"></span>
                    <li class="date1 white s">MOST RECENT</li>
                </ul>
            </div>
            <h4 id="empty" class="danger"></h4>

        </div>
        <div id="results">
        {% for post in posts %}
                <div class="single-post" data-date="{{ post.post_date }}">
                    <div class="post-bg" style="background: url('{{ webroot }}{{ post.image_path }}'); background-size: cover; background-position: center;">

                    </div>
                    <h4 class="white">{{ post.title }} <br> {{ post.post_date }}</h4>
                    <div class="av">
                        <div class="post-avatar" style="background:url('{{ webroot }}{{ post.avatar_path }}') center;background-size:cover;"></div>
                    </div>
                    <div class="view">
                        <form id="view-post" action="{{ webroot }}view" method="post">
                            <input type="hidden" name="postid" id="postid" value="{{ post.id }}">
                            <input type="submit" id="view-btn" value="VIEW POST">
                        </form>
                    </div>
                </div>
        {% endfor %}
        </div>
    </main>

    <script>
        $('#search-btn').click(function (e) {
            e.preventDefault();
            if (!$('#search-txt').val()) {
                $('#empty').html("Please enter a search term");
            } else {
                $('#empty').html("");
                $.ajax({
                    url: '{{ webroot }}search',
                    method: 'POST',
                    data: {search: $('#search-txt').val()}
                }).done(function (html) {
                    $('#results').html(html);
                }).fail(function () {
                    $('#results').html(
                            "<h2>Looks like something went wrong. Please check your internet connection.</h2>"
                    );
                });
            }
        });

        $('#sort').click(function () {
            $('#sort-type').show();
        });

        $('.s').click(function () {
            $('#sort-type').fadeOut(200);
        });

        $('.date1').click(function () {
            $('#sort-type').fadeOut(200);
            $(".single-post").sort(function(a,b){
                return new Date($(a).attr("data-date")) > new Date($(b).attr("data-date"));
            }).each(function(){
                $("#results").prepend(this);
            });
        });

    </script>

{% endblock %}